# Model configuration
model_name_or_path: Qwen/Qwen2.5-Coder-3B-Instruct
dtype: auto

# Script arguments
dataset_train_split: test
dataset_test_split: test
dataset_train_max_samples: 1000

# Training configuration (GRPOConfig)
output_dir: ./checkpoints
learning_rate: 1.0e-5
per_device_train_batch_size: 4
gradient_accumulation_steps: 16
num_generations: 8
num_train_epochs: 3
max_prompt_length: 1024
max_completion_length: 1024
logging_steps: 1
save_strategy: epoch
report_to: wandb
run_name: rl-final-grpo-run
temperature: 0.7
beta: 0.0

# Evaluation configuration
#eval_strategy: no
#eval_steps: 5
#per_device_eval_batch_size: 2

# LoRA configuration
use_peft: true
lora_r: 8
lora_alpha: 32
lora_target_modules: all-linear
# lora_target_modules:
#   - q_proj
#   - v_proj

# Reward configuration
tests_weight: 0.5
ruff_weight: 0.25
mypy_weight: 0.25
syntax_error_penalty: -1.0
ruff_select:
- F    # Pyflakes (Correctness)
- E    # pycodestyle (Style)
- W    # pycodestyle (Style)
- C90  # mccabe (Complexity)
- N    # pep8-naming (Naming)
- UP   # pyupgrade (Modern Python)
- B    # flake8-bugbear (Bugs)
- A    # flake8-builtins (Shadowing)
- C4   # flake8-comprehensions (Performance)
- RET  # flake8-return (Clean Returns)
- SIM  # flake8-simplify (Code Simplification)
- ARG  # flake8-unused-arguments (Cleanliness)

ruff_ignore:
- E501 # Line too long (often unavoidable in complex algorithmic one-liners or input parsing)
- E741 # Ambiguous variable name (allows 'l', 'O', 'I' which are common in CP for pointers/indices)
- W292 # No newline at end of file

# Custom configurations
seed: 42
